<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TEST FRAGMENTS</title>
</head>
<body>
	<div class="main">
		<h1>MAIN</h1>
		<ul class="nav nav-tabs">
			<li class="nav-item">test<a class="nav-link active" href="#">Active</a>
			</li>
			<li class="nav-item">test2<a class="nav-link" href="#">Link</a></li>
			<li class="nav-item">test3<a class="nav-link" href="#">Link</a></li>
			<li class="nav-item">test4<a class="nav-link disabled" href="#">Disabled</a>
			</li>
		</ul>
	</div>
</body>
</html>