<div class="d-flex justify-content-between">
	<div class="text-center ticketting-container-column-ticket-status rounded">
		<h4 class="" th:text="${statusTitleOpened}"></h4>
		<div class="ticketting-line"></div>
		<div th:each="openedTicket : ${openedTickets}"
			th:include="dashboard/_ticket-card"
			th:with="ticket=${openedTicket}"
			class="my-2"></div>
	</div>
	<div class="text-center ticketting-container-column-ticket-status rounded d-flex)">
		<h4 class="" th:text="${statusTitleAllocated}"></h4>
		<div class="ticketting-line"></div>
		<div th:each="allocatedTicket : ${allocatedTickets}"
			th:include="dashboard/_ticket-card"
			th:with="ticket=${allocatedTicket}"
			class="my-2"></div>
	</div>
	<div class="text-center ticketting-container-column-ticket-status rounded">
		<h4 class="" th:text="${statusTitleDone}"></h4>
		<div class="ticketting-line"></div>
		<div th:each="doneTicket : ${doneTickets}"
			th:include="dashboard/_ticket-card"
			th:with="ticket=${doneTicket}"
			class="my-2"></div>
	</div>
	<div class="text-center ticketting-container-column-ticket-status rounded">
		<h4 class="" th:text="${statusTitleClosed}"></h4>
		<div class="ticketting-line"></div>
		<div th:each="closedTicket : ${closedTickets}"
			th:include="dashboard/_ticket-card"
			th:with="ticket=${closedTicket}"
			class="my-2"></div>
	</div>
</div>