<p>FRAGMENT ALL TICKETS</p>
<!-- Sur la gauche on veut tous les tickets triés verticalement par status -->
<p class="customClass">CSS BIEN IMPORTE</p>

<div class="ticketting-container-all-tickets">
	<div class="ticketting-container-column-ticket-status">
		<h4 class="ticketting-title-status">STATUS 1</h4>
	</div>
	<div class="ticketting-container-column-ticket-status">
		<h4 class="ticketting-title-status">STATUS 2</h4>
		<p>UNE CARD TROP BIEN !</p>
	</div>
	<div class="ticketting-container-column-ticket-status">
		<h4 class="ticketting-title-status">STATUS 3</h4>
	</div>
	<div class="ticketting-container-column-ticket-status">
		<h4 class="ticketting-title-status">STATUS 4</h4>
	</div>
	<div class="ticketting-container-column-ticket-status">
		<h4 class="ticketting-title-status">STATUS 5</h4>
	</div>
</div>
<!-- Sur la droite on veut le détail d'un ticket quand on click dessus MAIS pour l'instant ce sera sur une autre page -->