<div class="card-deck-my-tyckets">
<div class="ticketting-container-column-ticket-status">
<h4 class="ticketting-title-status" th:text="${statusTitleOpened}"></h4>
	<div th:each="ticketView : ${userTickets}"
		class="card border-primary mb-3" style="width: 20rem;">
		<h5 class="card-header text-white bg-primary mb-3 text-left" >TO DO...</h5>
		<div class="card-body d-flex flex-column">
			<p class="card-text text-center" th:text="${ticketView.details}"></p>
			<button type="button" class="align-self-end btn btn-link btn-sm float-right" style="margin-top: auto;">more details...</button>
		</div>
			<ul class="d-inline list-group">
				<li class="list-group-item" th:each="userPseudo : ${ticketView.usersTaskOn}"
					th:text="${userPseudo}"></li>
			</ul>
		<div class="card-footer text-right"><small class="card-text" th:text="${ticketView.lastStatus}"></small>
		</div>
		</div>
	</div>
<div class="ticketting-container-column-ticket-status">
<h4 class="ticketting-title-status" th:text="${statusTitleAllocated}"></h4>
	<div th:each="ticketView : ${userTickets}"
	th:with="ticket=${allocatedTicket}"
		class="card border-primary mb-3" style="width: 20rem;">
		<h5 class="card-header text-white bg-primary mb-3 text-left" >TO DO...</h5>
		<div class="card-body d-flex flex-column">
			<p class="card-text text-center" th:text="${ticketView.details}"></p>
			<button type="button" class="align-self-end btn btn-link btn-sm float-right" style="margin-top: auto;">more details...</button>
		</div>
			<ul class="d-inline list-group">
				<li class="list-group-item" th:each="userPseudo : ${ticketView.usersTaskOn}"
					th:text="${userPseudo}"></li>
			</ul>
		<div class="card-footer text-right"><small class="card-text" th:text="${ticketView.lastStatus}"></small>
		</div>
		</div>
	</div>
<div class="ticketting-container-column-ticket-status">
<h4 class="ticketting-title-status" th:text="${statusTitleDone}"></h4>
	<div th:each="ticketView : ${userTickets}"
		class="card border-primary mb-3" style="width: 20rem;">
		<h5 class="card-header text-white bg-primary mb-3 text-left" >TO DO...</h5>
		<div class="card-body d-flex flex-column">
			<p class="card-text text-center" th:text="${ticketView.details}"></p>
			<button type="button" class="align-self-end btn btn-link btn-sm float-right" style="margin-top: auto;">more details...</button>
		</div>
			<ul class="d-inline list-group">
				<li class="list-group-item" th:each="userPseudo : ${ticketView.usersTaskOn}"
					th:text="${userPseudo}"></li>
			</ul>
		<div class="card-footer text-right"><small class="card-text" th:text="${ticketView.lastStatus}"></small>
		</div>
		</div>
	</div><div class="ticketting-container-column-ticket-status">
		<h4 class="ticketting-title-status" th:text="${statusTitleClosed}"></h4>
	<div th:each="ticketView : ${userTickets}"
		class="card border-primary mb-3" style="width: 20rem;">
		<h5 class="card-header text-white bg-primary mb-3 text-left" >TO DO...</h5>
		<div class="card-body d-flex flex-column">
			<p class="card-text text-center" th:text="${ticketView.details}"></p>
			<button type="button" class="align-self-end btn btn-link btn-sm float-right" style="margin-top: auto;">more details...</button>
		</div>
			<ul class="d-inline list-group">
				<li class="list-group-item" th:each="userPseudo : ${ticketView.usersTaskOn}"
					th:text="${userPseudo}"></li>
			</ul>
		<div class="card-footer text-right"><small class="card-text" th:text="${ticketView.lastStatus}"></small>
		</div>
		</div>
	</div>
</div>