<div class="d-flex flex-wrap">
	<article th:each="ticketView : ${userTickets}" class="card m-2"
		style="width: 20rem;">
		<div class="card-body">
			<h4 class="card-title text-center text-primary"
				th:text="' - ' + ${ticketView.title} + ' - '"></h4>
			<div class="ticketting-line"></div>
			<h5 class="card-title mt-2 text-primary">Details</h5>
			<p th:text="${ticketView.details}"></p>
			<h5 class="card-title mt-2 text-primary">Working on</h5>
			<ul>
				<li th:each="pseudo : ${ticketView.usersTaskOn}" th:text="${pseudo}"></li>
			</ul>
			<h5 class="card-title mt-2 text-success"
				th:text="'Status: ' + ${ticketView.lastStatus}"></h5>
			<h5 class="card-title mt-2">Comments</h5>
			<p>Work in progress!</p>
			<form
				class="d-flex"
				th:if="${ticketView.lastStatus} == Allocated"
				method="POST"
				th:action="@{/setTicketStatusToDown(ticketIdToChangeStatusToDone=${ticketView.id})}">
					<button type="submit" class="btn btn-success m-auto" style="width: 7rem;">Task done</button>
				</form>
		</div>
	</article>
</div>
