<div class="card-deck">
	<div th:each="ticketView : ${userTickets}"
		class="card border-primary mb-3" style="width: 20rem;">
		<h5 class="card-header text-white bg-primary mb-3" th:text="${ticketView.details}"></h5>
		<div class="card-body">
			<p class="card-text">A quick description de la task en cours</p>
		</div>
			<ul class="list-group">
				<li class="list-group-item" th:each="userPseudo : ${ticketView.usersTaskOn}"
					th:text="${userPseudo}"></li>
			</ul>
		<div class="card-footer"><small class="card-text text-right"
				th:text="${ticketView.lastStatus}"></small>
		</div>
	</div>
</div>