
<form method="post" th:object="${ticketForm}"
	th:action="@{/create-new-ticket}" class="form-group"
	style="width: 30rem" xmlns:th="http://www.thymeleaf.org">
	<!-- Description du ticket -->
	<div class="form-group">
			<input type="text" class="form-control" name="title"
				th:field="*{title}" id="title" placeholder="The task's title">
		<textarea class="form-control mt-2" id="details" rows="3"
			th:field="*{description}"
			placeholder="The task's description in details"></textarea>
	</div>

	<!-- Assignation utilisateur -->
	<div
		class="form-group mt-2 d-flex justify-content-between align-items-center">
		<label>Add users (optional)</label> <select th:field="*{idUsers}"
			multiple="multiple"
			class="js-example-basic-multiple js-states form-control"
			style="width: 20rem">
			<option th:each="u : ${users}" th:value="${u.id}"
				th:text="${u.pseudo}"></option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<script
	src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
	$(".js-example-basic-multiple").select2();
</script>