<div class="card ticketting-card-margin" style="width: 25rem;">
	<div class="card-body">
		<h5 class="card-title" th:text="${ticket.title}"></h5>
		<p class="card-text" th:text="${ticket.details}">Some quick example ticket</p>
		<div class="d-flex justify-content-around">
			<a th:href="'ticket?ticketId='+${ticket.id}" class="btn btn-primary">Ticket
				in details</a>
			<a th:if="${isUserAdmin}" th:href="'ticket-admin?ticketId='+${ticket.id}"
				class="btn btn-primary"> Edit Ticket</a>
		</div>
	</div>
</div>