<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{_layout}" layout:fragment="content">
<head>
<meta charset="ISO-8859-1">
<title>General dashboard</title>
<link rel="stylesheet" th:href="@{/css/group-dashboard.css}"></link>
<link rel="stylesheet"
	th:href="@{/css/group-dashboard-tickets-user.css}"></link>
</head>
<body>
	<header class="d-flex align-items-center m-3">
		<h5 th:text="'Welcome ' + ${user.pseudo} + ' !'"></h5>
		<a href="/dashboard" class="btn btn-outline-primary ml-5">Back to
			general dashboard</a>
		<form th:action="@{/deconnexion}" th:object="${user}" method="POST">
			<button type="submit"
				class="btn btn-outline-warning ml-5">Sign out</button>
		</form>
	</header>
	<div class="ticketting-line"></div>
	<nav class="nav nav-tabs m-3">
		<a class="nav-item nav-link active" href="#allTickets"
			data-toggle="tab">All tickets</a> <a class="nav-item nav-link"
			href="#myTickets" data-toggle="tab">My tickets</a> <a
			th:if="${isAdmin}" class="nav-item nav-link" href="#newTicket"
			data-toggle="tab">New ticket</a> <a th:if="${isAdmin}"
			class="nav-item nav-link" href="#admin" data-toggle="tab">Group
			options</a>

	</nav>

	<div class="tab-content m-3">
		<div class="tab-pane fade show active" id="allTickets">
			<div th:replace="dashboard/_all-tickets"></div>
		</div>
		<div class="tab-pane fade" id="myTickets">
			<div th:replace="dashboard/_my-tickets"></div>
		</div>
		<div class="tab-pane fade" id="newTicket">
			<div th:replace="dashboard/_newTicket"></div>
		</div>
		<div class="tab-pane fade" id="admin">
			<div th:replace="dashboard/_adminFunctions"></div>
		</div>
	</div>
</body>
</html>