<body xmlns:th="http://www.thymeleaf.org" th:fragment="_profil">
	<div>
		<b>You will find here the information relative to your profile</b>
		<div class="form-group">
			<label for="login1"> Your Login</label> <input type="text"
				class="form-control" name="login" th:field="${user.login}"
				id="login1" readonly="readonly">
		</div>
		<div class="form-group">
			<label for="pseudo1">Your Pseudo</label> <input type="text"
				class="form-control" name="pseudo" th:field="${user.pseudo}"
				id="pseudo" readonly="readonly">
		</div>
		<small id="pseudohelp" class="form-text text-muted">This
			"pseudo" is your public identifier</small>

	</div>
	<form th:action="@{/userProfile}" method="GET">
		<button type="submit" class="btn btn-primary">Modify your profile</button>
	</form>

	</div>
</body>