<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Welcome</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/commons.css}"></link>
</head>
<body>
	<main class="ticketting-main-container-connect">
		<div class="card m-2" style="width: 30rem;">
			<div class="card-body">
				<h1 class="card-title text-center">Welcome to Ticketting</h1>
				<h5 class="card-subtitle mt-2 text-muted text-center">Ticketting
					is your new application to manage your projects !</h5>
				<nav class="nav nav-tabs mt-5">
					<a class="nav-item nav-link active" href="#connexion"
						data-toggle="tab">Connexion</a> <a class="nav-item nav-link"
						href="#inscription" data-toggle="tab">Inscription</a>
				</nav>

				<div class="tab-content mt-2">
					<div class="tab-pane fade show active" id="connexion">
						<div th:replace="_connectForm"></div>
					</div>
					<div class="tab-pane fade" id="inscription">
						<div th:replace="_signUp"></div>
					</div>
				</div>
			</div>
		</div>
	</main>


</body>
</html>