<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{_layout}"
  layout:fragment="content"
>
  <body xmlns:th="http://www.thymeleaf.org" th:fragment="_profilEdition">
    <div
      class="card mt-2"
      style="width: 35rem; margin-left: auto; margin-right: auto"
    >
      <div class="card-body">
        <h4 class="card-title">Update your profile</h4>
        <form
          class="mt-2"
          th:action="@{/editUserProfile}"
          th:object="${userForm}"
          method="POST"
        >
          <p style="color: red" th:text="${userForm.errorMessage}"></p>

          <div class="form-group d-flex justify-content-between align-items-center">
            <label for="pseudo1">Edit your pseudo</label>
            <input
              style="width: 20rem"
              type="text"
              class="form-control"
              name="pseudo"
              th:field="*{pseudo}"
              id="pseudo"
            />
          </div>
          <div class="form-group d-flex justify-content-between align-items-center">
            <label for="oldPassword">Old password</label>
            <input
              style="width: 20rem"
              type="password"
              class="form-control"
              name="password"
              th:field="*{oldPassword}"
              id="oldPassword"
              placeholder="Enter your old password"
            />
          </div>
          <div class="form-group d-flex justify-content-between align-items-center">
            <label for="newPassword">New password</label>
            <input
              style="width: 20rem"
              type="password"
              class="form-control"
              name="password"
              th:field="*{newPassword}"
              id="newPassword"
              placeholder="Enter your new password"
            />
          </div>
          <div class="form-group d-flex justify-content-between align-items-center">
            <label for="checkNewPassword">Check new password</label>
            <input
              style="width: 20rem"
              type="password"
              class="form-control"
              name="password"
              th:field="*{passwordConfirmation}"
              id="newPassword"
              placeholder="Enter your new password again "
            />
          </div>
          <div class="d-flex">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a class="btn btn-warning ml-3" href="/dashboard" role="button"
              >Cancel</a
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
