<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{_layout}" layout:fragment="content">
<head>
<meta charset="ISO-8859-1">
<title>Modify the ticket</title>
</head>
<div class="card m-2" style="width: 25rem;">
	<div class="card-body">
		<h4 class="card-title text-center"
			th:text="' - ' + ${ticket.title} + ' - '"></h4>
		<div class="ticketting-line"></div>
		<h5 class="card-title mt-2">Task's details</h5>
		<p th:text="${ticket.details}"></p>
		<h5 class="card-title mt-2">Working on</h5>
		<ul>
			<li th:each="pseudo : ${usersPseudo}" th:text="${pseudo}"></li>
		</ul>
		<h5 class="card-title mt-2">History</h5>
		<ul>
			<li th:each="statusHistory : ${historic}">
				<p>
					Date <span th:text="${statusHistory.statusDate}"></span> => <span
						th:text="${statusHistory.status.label}"></span>
				</p>
			</li>
		</ul>
	</div>
	<form th:action="@{/modifTicket}" th:object="${ticketForm}"
		method="POST">
		<div class="form-group">
			<label for="ticketDetail">Task's title</label>
			<input type="text"
				class="form-control" name="ticketTitle" th:field="*{title}"
				id="ticketDetail">
		</div>
		<div class="form-group">
			<label for="ticketDetail">Task's details</label>
			<textarea class="form-control" name="ticketDetail" th:field="*{description}"
				id="ticketDetail" rows="3"></textarea>
		</div>
		<!-- Radio -->
		<div th:each="radioOption : ${ticketForm.radioButtonsOptions}" class="form-check">
			<input class="form-check-input" type="radio"
				th:field=${ticketForm.radioSelected} th:value="${radioOption}">
			<label class="form-check-label"
				th:text="${radioOption}" th:for="${radioOption}"></label>
		</div>
		<!-- End Radio -->
		<!-- Assignation utilisateur -->
			<select th:field="*{idUsers}" multiple="multiple" class="js-example-basic-multiple js-states form-control">
				<option th:each="user : ${usersGroup}" th:value="${user.id}"
					th:text="${user.pseudo}"></option>
			</select>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<a th:if="groupSelectedByUserId == null" th:href="/dashboard"
		class="btn btn-primary">Go back</a> <a
		th:unless="groupSelectedByUserId == null"
		th:href="'group?groupId='+${groupSelectedByUserId}"
		class="btn btn-primary">Go back</a>
</div>
<script
	src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js">
</script>
<script>
	$(".js-example-basic-multiple").select2();
</script>
</html>